:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 95vw;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "card card card card"
    "card card card card"
    "card card card card";
}

.card {
  grid-area: "card";
  height: 280px;
  width: 255px;
  border: 1px black solid;
  text-align: center;
}

/*
Card Colors
*/
.orange {
  background-color: orange;
}
.yellow-orange {
  background-color: rgb(245, 207, 105);
}

.yellow {
  background-color: rgb(255, 255, 0);
}

.yellow-green {
  background-color: yellowgreen;
}

.green {
  background-color: green;
}

.blue-green {
  background-color: rgb(3, 87, 66);
}

.blue {
  background-color: blue;
}

.blue-violet {
  background-color: blueviolet;
}

.violet {
  background-color: violet;
}

.red-violet {
  background-color: rgb(170, 29, 95);
}

.red {
  background-color: red;
}

.red-orange {
  background-color: rgb(161, 57, 16);
}
