:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
  --main-yellow: rgb(253, 253, 139);
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(32, 32, 32);
  box-shadow: 2px 0px 4px 4px;
  padding: 15px;
}

.logo {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 30pt;
  color: var(--main-yellow);
}

.header-right {
  display: flex;
}

.info-icon {
  margin-right: 40px;
  cursor: pointer;
}

.info-toggle-button {
  background: none;
  width: 60px;
  margin-right: 20px;
  border: none;
}

.scoreboard {
  font-family: "Bebas Neue", cursive;
  font-size: 30pt;
  display: flex;
  gap: 30px;
  color: white;
}

.CLASSIC {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "card card card card"
    "card card card card"
    "card card card card";
  margin-top: 75px;
}

.EXTREME {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "card card card card card card"
    "card card card card card card"
    "card  card card card card card ";

  margin-top: 75px;
}

.card-CLASSIC {
  grid-area: "card";
  height: 250px;
  width: 250px;
  border: 1px black solid;
  box-shadow: 0px 0px 4px 3px rgb(10, 10, 10);
  cursor: pointer;
  border-radius: 50%;
}

.card-CLASSIC:hover {
  box-shadow: 0px 0px 8px 2px var(--main-yellow);
}

.card-EXTREME {
  grid-area: "card";
  height: 180px;
  width: 180px;
  border: 1px black solid;
  box-shadow: 0px 0px 4px 3px rgb(10, 10, 10);
  cursor: pointer;
  border-radius: 50%;
}

.card-EXTREME:hover {
  box-shadow: 0px 0px 8px 2px var(--main-yellow);
}

.CLASSIC-button {
  font-size: 24px;
  font-family: "Bebas Neue", cursive;
  background: none;
  background-color: rgb(83, 204, 83);
  padding: 0px 35px 0px 35px;
  border: none;
  margin-right: 20px;
  color: black;
  border-bottom: solid black 5px;
  border-left: solid black 5px;
  box-shadow: 0px 2px 3px 2px;
}

.EXTREME-button {
  font-size: 24px;
  font-family: "Bebas Neue", cursive;
  background: none;
  background-color: rgb(207, 57, 57);
  padding: 0px 30px 0px 30px;
  border: none;
  margin-right: 20px;
  color: black;
  border-bottom: solid black 5px;
  border-left: solid black 5px;
  box-shadow: 0px 2px 3px 2px;
}

.EXTREME-button:hover {
  box-shadow: 0px 0px 0px 0px;
  border: solid black 3px;
}

.CLASSIC-button:hover {
  box-shadow: 0px 0px 0px 0px;
  border: solid black 3px;
}

.new-game {
  font-family: "Bebas Neue", cursive;
  background: none;
  border: none;
  position: absolute;
  top: 40%;
  left: 45%;
}

.material-symbols-outlined {
  font-size: 125pt;
  cursor: pointer;
  border-radius: 50%;
  color: var(--main-yellow);
}

.material-symbols-outlined:hover {
  background-color: rgba(255, 255, 104, 0.048);
  box-shadow: 0px 0px 4px 4px var(--main-yellow);
}

.info {
  position: absolute;
  background-color: rgb(100, 100, 100);
  top: 75px;
  right: 120px;
  font-family: "Bebas Neue", cursive;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 4px;
}

.info h2 {
  font-family: "Rubik Moonrocks", cursive;
  color: var(--main-yellow);
  font-size: 32pt;
  border-bottom: rgba(0, 0, 0, 0.651) 4px solid;
  padding: 0px 15px 10px;
}

.info li {
  color: rgb(20, 20, 20);
  font-size: 18pt;
  text-align: center;
  width: fit-content;
  word-break: break-all;
  width: 200px;
  margin-left: -30px;
  margin-bottom: 20px;
}

.info p {
  margin-top: -10px;
  font-family: "Rubik Moonrocks", cursive;
  color: var(--main-yellow);
  text-align: center;
  font-size: 28pt;
}

svg {
  background-color: rgb(67, 126, 194);
  border-radius: 50%;
}
